.LoadingTodo-container {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(8, 0, 79, 0.5);
    margin: 24px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
}
  
.LoadingTodo-text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
  
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
  
.LoadingTodo-container,
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
    background: linear-gradient(90deg, #FFD3FF, #FEFEDF);
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}
  
@keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}